body {
  font-family: "Montserrat", sans-serif;
  background: #db9494;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
aside {
  width: 370px;

  background-color: #701853;
}
.cv-photo {
  margin-top: 25px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.header-secondary {
  color: #ffffff;
}
.contact-links {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
.bold {
  font-weight: 700;
}
.list-secondary {
  color: #dd5ea8;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}
.list-secondary-item {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}
.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}
.soft-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}
main {
  padding: 102px 88px 88px 102px;
}
.main-distription {
  width: 400px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}
.projects {
  width: 485px;
  margin-bottom: 51px;
}
.list-primary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 0;
  list-style-position: inside;
}
.list-primary-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}
.front-end-dev {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.freelace {
  color: #fb6d3a;
}
.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.work-place {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #a8a8a8;
}
.level {
  color: #a59e9e;
}
.experience-assistant {
  color: #dd5ea8;
}
.education {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.education-date {
  ont-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}
